<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt quia officiis dolor, aspernatur quibusdam? Aperiam ratione, voluptatibus at doloremque iure modi eligendi ut ullam fuga id culpa deserunt? Ex.</p>
    <img src="https://wallpapers.com/images/featured-full/hd-a5u9zq0a0ymy2dug.jpg" alt="">

</body>
</html>